
@{
    ViewBag.Title = "Login";
}

<h2>Login Form</h2>

<div>
    <form action ="Verify" method="post">
        <div>
            <input type="text" name="Name" placeholder="Enter your user email" id=" myInput" required />
        </div>
        <div>
            <input type="password" name="Password" placeholder="Enter your password" id="myInput" required />
        </div>
        <input type="submit" value="LOGIN" />
    </form>
</div>
