* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background:linear-gradient(to right, #3a7bd5, #3a6073);
    height:100vh;
    gap:10px;
    flex-direction: column;
}

#display_image{
    width: 100px;
    height: 100px;
    border:1px solid black;
    border-radius:50%;
    background-position:center;
    background-size: cover;
}
#show-signup {
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
   
}

    .popup.close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 15px;
        height: 15px;
        background: #888;
        color: #eee;
        text-align: center;
        line-height: 15px;
        border-radius: 15px;
        cursor: pointer;
    }

    .popup .form h2 {
        color: #222;
        margin:10px 0px 20px;
        font-size: 25px;
    }

    .popup .form .form-element {
        margin: 15px 0px;
    }

        .popup .form .form-element label {
            font-size: 14px;
            color: #222;
        }

        .popup .form .form-element input[type="text"],
        .popup .form .form-element input[type="password"] {
            margin-top: 5px;
            display: block;
            width: 100%;
            padding: 10px;
            outline: none;
            border: 1px solid #aaa;
            border-radius: 5px;
        }

#user {
    background-color: rgb(117, 117, 117);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup .form .form-element button {
    width: 50px;
    height: 25px;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
    border:none;
    outline:none;
}
