.header{
    width: 100%;
    height: 126px;
    background: linear-gradient(rgb(20, 107, 154), rgb(241, 246, 247))
}

/* .wrap{
    width: 1190px;
    margin: 0 auto;

} */


.header-box{
    position: relative;
    height: 140px;
}

.logo-image{
    position: absolute;
    left: 0;
    top: 10px;
    width: 210px;
    height: 120px;
    margin-left: 20px;
    
}

.search{
    width:100%;
    height:60px;
}

.search-m{
    position: relative;
    width: 100%;
    height: 60px;
}

.search-logo{
    display : none;
    position: absolute;
    top: 4px;
    left: 0;
    width: 125px;
    height: 40px;

}

.form{
    position: absolute;
    left:500px;
    top:30px;
    width: 1000px;
    height: 32px;
    border: none;
    display: flex;
    flex-direction: row;
}


.keyword{
    /* top: 0;
    position: absolute;
    left: 0; */
    width: 375px;
    height: 35px;
    padding: 2px 0px 2px 0px;
    border: 1px solid transparent;
    line-height: 26px;
    font-size: 15px;
    color: #333;
    outline: none;
    border: 2px solid rgb(15, 104, 152);
    border-radius: 5px;
    box-shadow: 1px 2px 1px rgb(15 104 152/20%);
}

#icon {
    margin-left: 10px;
    width: 45px;
    height: 43px;
    line-height: 32px;
    border: none;
    background-color:rgb(27, 111, 171);
    font-size: 20px;
    font-weight: 700;
    color: #fff;  
    display: inline;
    border-radius: 5px;
    border: 2px solid rgb(15, 104, 152);
}


.container {
    display: flex;
    flex-direction: row;
}

#user{
    position: relative;
    margin-top: -20px;
    background-color: rgb(117, 117, 117);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.search-helper{
    position: absolute;
    top: 35px;
    width: 375px;
    /* height: 200px; */
    background-color: skyblue;
    border: 1px solid #ccc;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgb(0 0 0 / 20%);
    cursor: pointer;
    display: none;
}

.search-helper p{
    text-align: left;
    font-size: 16px;
    height: 24px;
    padding: 1px 6px;
    line-height: 24px;
    cursor: pointer;
    color: #666;
}

.body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}

label{
    margin-left: 30px;
    font-size: 20px;
}
#save{
   margin-left: 75px;
   margin-top: 10px;
   height: 40px;
   width: 80px;
   color:white;
   background-color: rgb(60, 184, 215);
   border: 1px solid rgb(60, 184, 215);
   box-shadow: 1px 2px 1px rgb(60, 184, 215);
   font-size: 18px;
}

#clear{
    margin-top:10px;
    height: 40px;
    width: 80px;
    color: white;
    background-color: rgb(60, 184, 215);
    border: 1px solid rgb(60, 184, 215);
    box-shadow: 1px 2px 1px rgb(60, 184, 215);
    margin-left:23px;
    font-size: 18px;
}

.search_button{
    height: 60px;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 1px rgb(0 0 0 /20%);

}

#item_name{
    margin-left: 15px;
}

.left{
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;

    border: 1px solid #ccc;
    box-shadow: 1px 2px 1px rgb(0 0 0 /20%);
    
}

.right{
    background-color: white;
}

.proj_prod{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    border: 1px solid #ccc;
    box-shadow: 1px 2px 1px rgb(0 0 0 /20%);
    /* height: 50px; */


}

.project{
    position:relative;
    text-align: center;
    flex: 1;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 1px rgb(0 0 0 /20%);
    font-size: 18px;
}

.product{
    position:relative;
    text-align: center;
    flex: 1;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 1px rgb(0 0 0 /20%);
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}



.prod_type_arrow{
    border: 1px solid #ccc;
    box-shadow: 1px 2px 1px rgb(0 0 0 /20%);
    height: 50px;
    line-height: 50px;
}

#productType{
    margin-left: 10px;
    font-size: 18px;
}

#drop-down{
    width: 20px;
    height: 17px;
    margin-top: 20px;
    margin-left: 230px;
}


#modelYear{
    height: 50px;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
}

#model_y{
    height: 40px;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 1px rgb(0 0 0 /20%);

    
}

.prod_type_arrow{
    display: flex;
    flex-direction: row; 
}

.prodtype_list{
    display: none;
    width: 100%;
    height: 160px;
    border-top: 1px solid #e0e0e0;
    background-color: #fff;
    box-shadow: 0 3px 4px rgba(0,0,0, .158);
}


#drop-down:hover .prodtype_list{
    display: block;   
}



ul{
    position: relative;
    margin-top: 5px;
    list-style: none;
    margin-left: 70px;
}

ul>li a{
    text-decoration: none;
}

#startYear{
    width: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 1px rgb(0 0 0 /20%);
    margin-top: 7px;
    margin-left: 30px;
    font-size: 20px;
}

#endYear{
    width: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 1px rgb(0 0 0 /20%);
    margin-top: 7px;
    margin-left: 0px;
    font-size: 20px;
}


#drop-down2{


    width: 20px;
    height: 17px;
    padding-top: 15px; 
    margin-left: 145px; 
}



.updown{
    width:15px;
    height: 15px;
    margin-left: 20px;
    margin-top: 15px;
}

/* .container{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 80px;
    background: #fff;
    border-radius: 20px;

} */



.airflow{
    height: 100px;
    margin-top:10px;
}

.MaxPower{
    height: 100px;
    margin-top:10px;
}

.Soundspeed{
    height: 100px;
    margin-top:10px;
}

.Fansweep{
    height: 100px;
    margin-top:10px;
}

.technical{
    border: 1px solid #ccc;
    box-shadow: 1px 2px 1px rgb(0 0 0 /20%);
    height: 50px;
    line-height: 50px;
}

#technical_speci{
    margin-left: 10px;
    font-size: 18px;
}

.whole_container{
    margin-top: 25px;
}

.container input[type = "number"]{
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: white;
    font-size : 15px;
    font-weight: 700;
    text-align: center;
}

.container input[type = "number"]::-webkit-outer-spin-button,
.container input[type = "number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.container .range-slider1{
    /* margin-top: 50px; */
    position: relative;
    width: 240px;
    height: 5px;
    background: #ddd;
    outline: none;
    top: 1px;
    margin: 10px;
}
.container .range-slider2{
    margin-top: 50px;
    position: relative;
    width: 240px;
    height: 5px;
    background: #ddd;
    outline: none;
    top: 1px;
    margin: 10px;
}
.container .range-slider3{
    margin-top: 50px;
    position: relative;
    width: 240px;
    height: 5px;
    background: #ddd;
    outline: none;
    top: 1px;
    margin: 10px;
}
.container .range-slider4{
    margin-top: 50px;
    position: relative;
    width: 240px;
    height: 5px;
    background: #ddd;
    outline: none;
    top: 1px;
    margin: 10px;
}

.container .range-slider1 .progress{
    left: 25%;
    right: 25%;
    height: 100%;
    background: rgb(60, 184, 215);
    border-radius: 50px;
    position:absolute;
}
.container .range-slider2 .progress{
    left: 25%;
    right: 25%;
    height: 100%;
    background: rgb(60, 184, 215);
    border-radius: 50px;
    position:absolute;
}
.container .range-slider3 .progress{
    left: 25%;
    right: 25%;
    height: 100%;
    background: rgb(60, 184, 215);
    border-radius: 50px;
    position:absolute;
}
.container .range-slider4 .progress{
    left: 25%;
    right: 25%;
    height: 100%;
    background: rgb(60, 184, 215);
    border-radius: 50px;
    position:absolute;
}

.container .range-slider1 input[type="range"]{
    position: absolute;
    top: -8px;
    left: -5px;
    width: 101%;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
    outline: none;
}
.container .range-slider2 input[type="range"]{
    position: absolute;
    top: -8px;
    left: -5px;
    width: 101%;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
    outline: none;
}
.container .range-slider3 input[type="range"]{
    position: absolute;
    top: -8px;
    left: -5px;
    width: 101%;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
    outline: none;
}
.container .range-slider4 input[type="range"]{
    position: absolute;
    top: -8px;
    left: -5px;
    width: 101%;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
    outline: none;
}

.container .range-slider1 input::-webkit-slider-thumb{
    pointer-events: auto;
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background: rgb(60, 184, 215);
    border-radius: 50px;
}

.container .range-slider2 input::-webkit-slider-thumb{
    pointer-events: auto;
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background: rgb(60, 184, 215);
    border-radius: 50px;
}
.container .range-slider3 input::-webkit-slider-thumb{
    pointer-events: auto;
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background: rgb(60, 184, 215);
    border-radius: 50px;
}
.container .range-slider4 input::-webkit-slider-thumb{
    pointer-events: auto;
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background: rgb(60, 184, 215);
    border-radius: 50px;
}

.items{
    display:grid;
    grid-template-columns: 25.5% 24% 24% 24%;
    grid-template-rows: 530px 520px 520px 520px;
    grid-auto-flow: row;
    grid-column-gap: 15px;
    grid-row-gap: 15px;

}

.item{
    margin-left: 15px;
    background-color: white;
    text-align: center;

    border: 1px solid #ccc;
    box-shadow: 1px 2px 1px rgb(0 0 0 / 20%);
}

/*
.item2{
    background-color: white;
    text-align: center;
    border: 1px 2px 1px rgb(0 0 0 / 20%);
    border: 1px solid #ccc;
    box-shadow: 1px 2px 1px rgb(0 0 0 / 20%);
}*/

.add {
    margin-top: -10px;
    margin-left: 75px;
    width: 90px;
    height: 50px;
    line-height: 32px;
    border: none;
    background-color: rgb(32, 113, 173);
    font-size: 20px;
    font-weight: 300;
    color: #fff;  
    display: inline;
    border-radius: 10%;
}

.item-footer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.fans{
    width: 256px;
    height: 200px;
}

.information{
    font-size: 18px;
    font-weight: 750;
}

.compare{
    font-weight:600;
    margin-left: 5px;
}